* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('./img/Фон\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    display: flex;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.menu {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-txt {
    font-weight: 700;
    font-size: 22px;
}

.header-block {
    display: flex;
    align-items: center;
}

.icon:hover path {
    fill: #3CB878;
    transition-duration: .5s;
}

span:hover {
    color: #3CB878;
    transition-duration: .5s;
}

.menu-txt {
    border-left: 1px solid;
    padding-left: 27px;
}

.block-icon {
    width: 126px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.icon,
span {
    cursor: pointer;
}

.header-txt:hover {
    color: #3CB878;
    cursor: pointer;
    transition-duration: .5s;
}

.container {
    position: absolute;
    left: calc(50% - 440px/2);
    top: calc(50% - (600px - 60px)/2);
    width: 440px;
    height: 600px;
    background: #FFFFFF;
}

.content {
    width: 320px;
    margin: 0 auto;
}

.content-log {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}

.txt-log {
    font-size: 20px;
    color: #434343;
}

.log {
    color: #3CB878;
}

.log:hover {
    color: #01813F;
    text-decoration: underline;
    cursor: pointer;
}

.square {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3CB878;
    top: 32px;
    left: 0px;
}

.but-log {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.but-log-blue {
    display: flex;
    background: #305DB8;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.but-log-blue:hover {
    background: #022263;
    transition-duration: .5s;
}

.but-log-blue-icon::after {
    content: '';
    background: #0A162F;
    width: 1px;
    height: 28px;
    float: right;
    opacity: 0.1;
    margin-left: 13px;
}

.txt-but-log-blue {
    padding-right: 15px;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 13px;
}

.but-log-orange {
    background: #DF4A32;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.but-log-orange:hover {
    background: #AB1F09;
    transition-duration: .5s;
}

.but-log-orange-icon::after {
    content: '';
    background: #2B0D09;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    margin-left: 7px;
}

.but-log-orange-icon {
    padding-left: 13px;
    display: flex;
    align-items: center;
}

.txt-but-log-orange {
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 20px 0 30px;
}

.txt {
    color: #848484;
    text-align: center;
    margin-bottom: 12px;
}

.txt::before,
.txt::after {
    content: '';
    background: #F2F2F2;
    height: 1px;
    width: 153px;
    vertical-align: middle;
    display: inline-block;
}

[placeholder] {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

[placeholder]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

[placeholder]::placeholder {
    color: #BEBEBE;
}

label {
    display: flex;
    align-items: center;
}

[type="checkbox"] {
    display: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.svg-checkbox {
    display: none;
}

[type="checkbox"]:checked~.checkbox .svg-checkbox {
    display: block;
}

.txt-label {
    color: #434343;
}

.txt-label-hover {
    color: #3CB878;
    padding: 2px;
}

.txt-label-hover:hover {
    color: #01813F;
    transition-duration: .5s;
    cursor: pointer;
    text-decoration: underline;
}

[href] {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    padding: 16px 0;
}

[href]:hover {
    background: #01813F;
    transition-duration: .5s;
}